doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=750, user-scalable=no")
    link(rel="stylesheet" type="text/css" href="css/index.css")
    include _header
  body
    
    #debug
    
    #loading
      .container
        img(src="img/loading.gif")
    
    
    #start
      .container
        .title
                      
        #btn
          img(src="img/play.svg")
    
    #about
      .title1 Nyangle Bells
      ul.container
          li Animation<br> 
            a(href = "https://kitasenjudesign.com" target="_blank") Kitasenju Design
          li Music<br> 
            a(href = "https://soundcloud.com/sn_hanauta" target="_blank") Nakamura Shunki
    
      .hosoku Japanese cats say "Nyan" not "Meow" like 
        a(href="https://www.youtube.com/watch?v=QH2-TGUlwu4" target="_blank") Nyan Cat
    
    
      #closeBtn
        img(src="img/close.svg")
      
    
    #aboutBtn
      img(src="img/i.svg")
    
    script(src="js/lib.js")
    script(src="js/hx.js")
